* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Mooli", sans-serif;
  background-color: rgb(219, 219, 219);
}

nav {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.grid {
  border: 0px solid #ffffff;
  padding: 0;
}

.left {
  margin: 10px;
  padding: 20px;
  animation: viewMyWork 4s ease;
  text-decoration: none;
  overflow: hidden;
}

.right {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  overflow-y: auto;
  max-height: 100vh;
}

.nav-iteams {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  --s: 0.1em;
  --c: #1a1717;

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.nav-iteams:hover {
  --_p: 100%;
}

.logo {
  font-size: 20px;
}

nav ul {
  padding-top: 10px;
}

nav ul li {
  list-style: none;
  padding-bottom: 10px;
}

.nav-iteams-bottom {
  padding-top: 40.5ch;
}

section {
  max-height: 8rem;
  text-align: center;
  padding: 5.5rem;
  margin: 1rem 1rem;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  background-color: rgb(190, 190, 190);
  transition: 0.5s;
  opacity: 0;
  transform: scale(0.8);
}

.show {
  transform: scale(1);
  opacity: 1;
}

h1 {
  font-size: 25px;
  padding: 10px;
}

p {
  font-size: 15px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(66, 20, 86);
}

section:hover {
  background-color: rgb(97, 97, 97);
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
